@import "tailwindcss";

:root {
  font-family: Helvetica, Arial, system-ui, Avenir, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
